@model LoginParent
<link rel="stylesheet" href="~/css/parentsAndAdmins.css"></link>
<div id="container">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h1 class="text-start title ">Parent Sign in</h1>
            </div>
            <form asp-controller="Parents" asp-action="Login" method="POST">
                <div class="form-floating mb-3">
                    <input asp-for="LoginEmail" type="Email" class="form-control" id="floatingEmail" placeholder="Email">
                    <label for="floatingEmail"><i class="fa-solid fa-envelope me-1"></i> Email <span asp-validation-for="LoginEmail" class="text-danger font-weight-bold"></span></label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="LoginPassword" type="Password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword"><i class="fa-solid fa-lock me-1"></i> Password <span asp-validation-for="LoginPassword" class="text-danger font-weight-bold"></span></label>
                </div>
                <div id="emailHelp" class="form-text mb-3">Don't already have an account? <a class="text-dark" href="/parents">Register Here</a></div>
                <button type="submit" id="submit-btn">Sign in</button>
            </form>
        </div>
    </div>
</div>