@{
    ViewData["Title"] = "Home Page";
}

<div id="row1" class="row w-100 m-0">
    <div class="col-lg-6">
        <div class="d-flex justify-content-center">
            <div id="banner-left"class="">
            <h1 id="banner-title">Schools all over the world struggle with connecting students to their parents after school. Our solution is PickUp Pro. We provide a secure, and safe solution to making sure students can get picked up by their parents.</h1>
            <a href="/parents" id="learn-more-btn" class="btn btn-primary">START NOW</a>
            </div>
        </div>
    </div>
    <div id="banner-right" class="col-lg-6 p-0">
        <div class="position-relative">
            <img id="main-banner-image" src="~/images/mainbannerimage.png" alt="">
        </div>
    </div>
</div>
<div id="row2" class="row w-100">
        <h1 id="banner-title" class="text-dark text-center">Here's how it works.</h1>
     <div class="row1-container">
        <div class="box box-down cyan">
            <h2>Step 1</h2>
            <p>Parents add their students with the student's assigned number from school through the parent dashboard. The student will then be sent to the admin dashboard for a review process to be approved. 
            </p>
            <img class="icon" src="~/images/formicon.png" alt="">
        </div>

        <div class="box red">
            <h2>Step 2</h2>
            <p>Once the student is confirmed by the admin, the parents can view their child on the parent dashboard. The parent will now have two options, request pickup, or delete the student.
            </p>
            <img class="icon" src="~/images/dashboardicon.png" alt="">
        </div>

        <div class="box box-down blue">
            <h2>Step 3</h2>
            <p>Parents can request their child's pickup through the parent dashboard upon arrival at the school, and the admin dashboard will show the child's name alongside the corresponding parent. The administrative staff can then escort the student to the parent, confirming the pickup through the admin dashboard.
            </p>        
            <img class="icon" src="~/images/caricon.png" alt="">
        </div>
    </div>
</div>
    <footer class="border-top footer text-muted pt-3 pb-3 w-100 fixed-bottom">
        <div class="container">
            &copy; 2023 - PickUp Pro
        </div>
    </footer>