/* _content/PickUpApp/Views/Admins/Login.cshtml.rz.scp.css */
h1[b-idzatriszw] {
    font-weight: 900 !important;
}
.card-body[b-idzatriszw] {
    padding: 1rem 4rem !important;
}
/* _content/PickUpApp/Views/Parents/Login.cshtml.rz.scp.css */
h1[b-4gg44yx8vn] {
    font-weight: 900 !important;
}
.card-body[b-4gg44yx8vn] {
    padding: 1rem 4rem !important;
}
/* _content/PickUpApp/Views/Parents/Registration.cshtml.rz.scp.css */
h1[b-2igwksljhl] {
    font-weight: 900 !important;
}
.card-body[b-2igwksljhl] {
    padding: 1rem 4rem !important;
}
/* _content/PickUpApp/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-50t1mo0ljs] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-50t1mo0ljs] {
  color: #0077cc;
}

.btn-primary[b-50t1mo0ljs] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-50t1mo0ljs], .nav-pills .show > .nav-link[b-50t1mo0ljs] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-50t1mo0ljs] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-50t1mo0ljs] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-50t1mo0ljs] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-50t1mo0ljs] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-50t1mo0ljs] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/PickUpApp/Views/TeacherAssistants/Login.cshtml.rz.scp.css */
h1[b-2zrsktv2yp] {
    font-weight: 900 !important;
}
.card-body[b-2zrsktv2yp] {
    padding: 1rem 4rem !important;
}
